<div class="about-background">
  <h1>Catch every world moment, and let's share it!</h1>
  <p>
      InstagramCloneで日常の瞬間をとらえた写真を簡単にシェアしよう。<br>
      世界中の面白いコンテンツを楽しむこともできます。<br>
      大事な瞬間から日常のあらゆる瞬間まで、自分を表現するいろいろなコンテンツをシェアしよう。
  </p>
</div>